<div class="container">

<div class = "contactline">
    <h1 class="contactlinetext">Контакт</h1>
</div>
<div class="miniaboutus">
    <div class="aboutdivs hide-on-init animated-delay-1"  animateOnScroll animationName="animated fadeInUp">
      <div style="width: 100%"><iframe width="100%" height="600" src="https://maps.google.com/maps?width=100%&height=600&hl=en&q=ul.%20%22Dragshan%22%205+(%D0%9A%D0%B5%D0%B9%20%D0%9F%D0%B8%20%D0%90%D0%B9%20%D0%9A%D0%BE%D0%BD%D1%81%D1%83%D0%BB%D1%82)&ie=UTF8&t=&z=14&iwloc=B&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"><a href="https://www.mapsdirections.info/en/journey-planner.htm">Map Directions</a></iframe></div><br />
        </div>
        <div class="aboutdivs smalldivs hide-on-init animated-delay-1"  animateOnScroll animationName="animated fadeInDown">
          <ul>
                <p class="div31" ><fa-icon class="div311" [icon]="faMapMarkedAlt"></fa-icon>  Адрес:</p>
                <p class="div44">Кей Пи Ай Консулт ЕООД ул. "Драгшан 5" гр. София</p>
                <p  class="div31"><fa-icon class="div311" [icon]="faPhoneSquare"></fa-icon> Телефон:<p>
                <p class="div44">0899844940</p>
                <p  class="div31"><fa-icon class="div311" [icon]="faEnvelopeOpenText"></fa-icon>    Мейл:</p>
                <p class="div44">k.p.i.consult@abv.bg</p>
                <p class="div31"><fa-icon class="div311" [icon]="faCalendarAlt"></fa-icon> Работно Време:</p>
                <p class="div44">Понеделник - Петък 00:08-00:16</p>
                <p class="div44">Събота - Неделя 00:08-00:16</p>
        </ul>
        </div>
    </div>

    <div class="divv1">
        <h1 class="h11">Свържете се с нас сега</h1>
        <h3 class="h33">Ще Ви отговорим възможно най-бързо!</h3>
    </div>

    <div class="divvv">


      <form class="example-form" #f='ngForm'  (ngSubmit)="onSubmit()" >


          <mat-form-field class="example-full-width">
            <input matInput placeholder="Име"
            ngModel
            name="username"
            required
            [(ngModel)]="userModel.name"
            #name="ngModel">
            <mat-error *ngIf="name.invalid && name.touched">Моля въведете валидно име</mat-error>

          </mat-form-field>

          <mat-form-field class="example-full-width"  >
              <input matInput placeholder="Мейл"
              [(ngModel)]="userModel.email"
              type="email"

              ngModel
              pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
              required
              name="email"
             #email="ngModel">
              <mat-error *ngIf="!email?.pattern && email.touched">Моля въведете валиден мейл адрес</mat-error>
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <input matInput placeholder="Телефон"
                name="phone"
                [(ngModel)]="userModel.phone"  >
              </mat-form-field>
          <mat-form-field class="example-full-width">
            <textarea matInput placeholder="Съобщение"
            name="message"
            [(ngModel)]="userModel.message"
            ngModel
            required
            #message="ngModel"></textarea>
            <mat-error *ngIf="message.invalid && message.touched">Моля въведете валидно  съобщение</mat-error>
          </mat-form-field>
          <div class="row row1"  *ngIf="showMsg">
            <div class="res">
              <p class="alert alert-success text">
                  <strong class="strongtext1">Вашето съобщение беше изпратено успешно!</strong>

              </p>
            </div>
          </div>
          <button [disabled]="f.invalid "class="button1" type="submit" >Изпрати</button>
        </form>
      </div>

</div>
