<div class="containerr">

<div class = "contactline">
    <h1 class="contactlinetext">Контакт</h1>
</div>
<div class="miniaboutus">
    <div class="aboutdivs hide-on-init animated-delay-1"  animateOnScroll animationName="animated fadeInUp">
            <div class="mapouter">
                <div class="gmap_canvas">
                    <iframe width="812" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q=rachesmolen&t=&z=17&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
                    <a href="https://www.bitgeeks.net/divi-discount-elegant-themes-coupon/">wordpress promo code plugin</a>
                </div>
                <style>.mapouter{position:relative;text-align:right;height:500px;width:812px;}.gmap_canvas {overflow:hidden;background:none!important;height:500px;width:812px;}</style>
            </div>
        </div>
        <div class="aboutdivs hide-on-init animated-delay-1"  animateOnScroll animationName="animated fadeInDown">
          <ul>
                <p ><fa-icon class="div31" [icon]="faMapMarkedAlt"></fa-icon>  Адрес:</p>
                <p class="div44">Кей Пи Ай Консулт ЕООД ул. "Примерна 7" гр. София</p>
                <p ><fa-icon class="div31" [icon]="faPhoneSquare"></fa-icon> Телефон:<p>
                <p class="div44">0899844940</p>
                <p ><fa-icon class="div31" [icon]="faEnvelopeOpenText"></fa-icon>    Мейл:</p>
                <p class="div44">k.p.i.consult@abv.bg</p>
                <p ><fa-icon class="div31" [icon]="faCalendarAlt"></fa-icon> Работно Време:</p>
                <p class="div44">Понеделник - Петък 00:08-00:16</p>
                <p class="div44">Събота - Неделя 00:08-00:16</p>
        </ul>
        </div>
    </div>

    <div class="divv1">
        <h1 class="h11">Свържете се с нас сега</h1>
        <h3 class="h33">Ще Ви отговорим възможно най-бързо!</h3>
    </div>

    <div class="divvv">


      <form class="example-form" #f='ngForm'  (ngSubmit)="onSubmit()" >


          <mat-form-field class="example-full-width">
            <input matInput placeholder="Име"
            ngModel
            name="username"
            required
            [(ngModel)]="userModel.name"
            #name="ngModel">
            <mat-error *ngIf="name.invalid && name.touched">Моля въведете валидно име</mat-error>

          </mat-form-field>

          <mat-form-field class="example-full-width"  >
              <input matInput placeholder="Мейл"
              [(ngModel)]="userModel.email"
              type="email"

              ngModel
              pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
              required
              name="email"
             #email="ngModel">
              <mat-error *ngIf="!email?.pattern && email.touched">Моля въведете валиден мейл адрес</mat-error>
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <input matInput placeholder="Телефон"
                name="phone"
                [(ngModel)]="userModel.phone"  >
              </mat-form-field>
          <mat-form-field class="example-full-width">
            <textarea matInput placeholder="Съобщение"
            name="message"
            [(ngModel)]="userModel.message"
            ngModel
            required
            #message="ngModel"></textarea>
            <mat-error *ngIf="message.invalid && message.touched">Моля въведете валидно  съобщение</mat-error>
          </mat-form-field>
          <div class="row"  *ngIf="showMsg">
            <div class="col-xs-12">
              <p class="alert alert-success text">
                  <strong>Вашето съобщение беше изпратено успешно!</strong>

              </p>
            </div>
          </div>
          <button [disabled]="f.invalid "class="button1" type="submit" >Изпрати</button>
        </form>
      </div>

</div>
