.contactlinetext{
    font-size: 1.9vw;
    text-align: center;
    color:#ffffff;
    padding-bottom:2%;
    padding-top:2%;
    font-weight: bold;
}
.h11{
    font-size:1.9vw;
    text-align:center;
    color:#0c2461;
    padding-bottom:2%;
    padding-top:2%;
    font-weight: bold;

}
.h33{
    font-size:1.4vw;
    text-align:center;
    color:#0c2461;
    font-weight: bold;
}
p{
    color:#0c2461;
    font-size: 1.3vw;



}
.contactline{

    background-color:#0c2461 ;
    width:100%;
    height:auto;
    margin-top:-1%;
    margin-bottom: -1%;


}

.divv1{
   position: relative;
   padding:10;
   text-align: center;
   margin-top:5%;
  margin-bottom: 3%;



}
.divvv{
    margin: auto;
    width: 30%;

  padding: 10px;
}
.example-container {
    display: flex;
    flex-direction: column;
}

  .example-container > * {
    width: 100%;
  }
  .miniaboutus{

    display: flex;
    background-color: #f5f3f2;
}
.aboutdivs{
    flex-basis: 50%;
}

.text{
  text-align: center;
}
.button1 {
  text-align: center;
  display: block;
  margin: 0 auto;
  padding-bottom: 1.5% ;
  padding-top: 1.5% ;
  padding-left: 3% ;
  padding-right: 3% ;
  background: #0c2461;
  color:#ffffff;
  border-radius: 12px;
}


  ul{
    margin:5%;
    top:5%;
    padding:5%;
}

.div21{
    margin: auto;
    width: 10%;
    padding: 10px;
    margin-top:2%;
    margin-bottom: 2%;
}
hr{
    margin-left:2%;
    margin-right: 2%;
    height:3px;
    background-color: #0c2461;
}
.div31{
    margin-right:2%;
}
.div44{
    margin-left:6%;
    margin-bottom: 3%;
    margin-top:-2%
}


.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}
.example-full-width {
  width: 100%;
}
