/*first line*/
.headerText{
    padding-top: 2%;
    padding-bottom: 2%;
    color:#ffffff;
    font-size: 1.9vw;
    font-weight: bold;
    text-align: center;
}
.onehalf{
    margin-top:0.5%;
    margin-bottom:0.5%;
    flex-basis: 50%;
}
.border{
    margin-top:-0.3%;
    width:100%;
    height:auto;
    background-color: #0c2461;
    margin-top:-1%;
}
.borderDates{

  width:100%;
  height:auto;
  background-color: #0c2461;


}
.onehalfDates{

  flex-basis: 50%;
}
.inline{
    width:100%;
    text-align: center;
}
.inlineDates{
  width:100%;
  text-align: center;

}
/*concrete services*/
#ServTitle{
    text-align: center;
    font-size: 1.9vw;
    margin-top:5%;
    color:#0c2461;
}
.concreteservice{
    display: flex;
    margin-top: 5.5%;
}
.aboutdivs{
    flex-basis: 50%;
    overflow: hidden; /* [1.2] Hide the overflowing of child elements */
}
.aboutdiv:hoover img{
    transform: scale(1.4);
    filter:opacity(0.4);
}
img{
    width:80%;
    margin-top: 2%;
    margin-left: 10%;
    flex-basis: 45%;
    max-width: 100%;
    border-radius: 8px;
    transition: all 2s ease-in-out;
}
.servheader{
    margin-top:5%;
    text-align: center;
    font-size:2.2vw;
    margin-bottom: 5%;
    color:#434a4d;
}
.servicetext{
    text-align: center;
    font-size: 1.1vw;
    margin-left:5%;
    margin-right:10%;
    color:#434a4d;
}

/* line */

.contactline{
  background-color:#0c2461 ;
  width:100%;
  height:13%;
  margin-top:5%;


}
.contactlinetext{
  font-size: 1.6vw;
  width: 100%;
  text-align: center;
  color:#ffffff;
  vertical-align: middle;
  position: absolute;

  padding-bottom: 6%;
  padding-top: 2%;
  margin-left:-7%;



}
.contactlinebutton{
  height:30%;
  margin-left:50%;
  font-size: 1.1vw;

  margin-top: 2%;
  text-align: center;
  margin-left:70%;
  display: inline-block;
  border-radius: 4px;
background-color: #ffffff;
border: none;
color: #0c2461;
text-align: center;
font-size: 1vw;
  width:7%;
transition: all 0.5s;
cursor: pointer;
}

/* pole za danuci */
.example-container{
    width:65%;
    margin-left: 10%;
    margin-bottom: 10%;
    flex-basis: 45%;
    display: flex;
    flex-direction: column;

}
.calculator{
        display: flex;
        margin-top: 3%;
        margin-bottom:3%;
        background-image: url('/src/assets/calculator.jpg');
}
.calculatorheader{
    margin-top:2%;
    text-align: center;
    font-size:2.2vw;
    margin-bottom: 10%;
    color:#434a4d;
}
.last{
    margin-bottom: 4%;
}

/* uslugi */
.quality1{
    flex: 33%;
}
.example-form {
    display: flex;
    flex-direction: column;
    margin-left: 30%;
  }

  .example-form > * {
    width: 50%;
  }
  .calculatorformheader{
    margin-top:2%;
    text-align: center;
    font-size:2.2vw;
    margin-bottom: 10%;
    color:#434a4d;
    font-size: 1.6vw;
}
.calBtn{
    width:100%;
    background-color: white;
    color: black;
    border: 2px solid #e7e7e7;
    text-align: center;
}
.cb{
    margin-bottom: 5%;
}

/* count on us */
.ServicesHome{
    width:100%;
    height: 70%;
}
.datesdiv{
    display:flex;
    height: 100%;
    width:100%;
}
.card{
    height: auto;
    width:100%;
    margin-top:2%;
}
#ServTitle{
    text-align: center;
    font-size: 2.2vw;
    margin-top:3%;
    color:#0c2461;
}
.servhead{
    text-align: center;
    font-size: 1.7vw;
    margin-top:1%;
    color:#0c2461;
}
.servtext{
    margin-top:7%;
    margin-left:7%;
    margin-right:7%;
    font-size:1vw;
}
.borderDates{
    margin-top:-0.3%;
    width:100%;
    height:auto;
    background-color: #0c2461;
    margin-top:-1%;
}
.datesimg{
    margin-left: 30%;
    margin-top: 5%;
    width:40%;
    height:auto;
}
.datesinfo{
    text-align: center;
    font-size: 1vw;
    margin-top:1%;
    color: black;
    flex-direction: column;
    width: 30%;
    margin-left: 35%;
    height: auto;
}
.info{
    width: 100%;
    height: auto;
}

@media  (max-width: 376px){
/*first line*/
.headerText{
  padding-top: 2%;
  padding-bottom: 2%;
  color:#ffffff;
  font-size: 4vw;
  font-weight: bold;
  text-align: center;
}
.onehalf{
  margin-top:0.5%;
  margin-bottom:0.5%;
  flex-basis: 50%;
}
.border{
  margin-top:-0.3%;
  width:100%;
  height:auto;
  background-color: #0c2461;
  margin-top:-1%;
}
  .concreteservice{
    display: flex;
    flex-direction: column;
    margin-top: 5.5%;
  }
#aboutdiva { order: 2; }
#aboutdivb { order: 1; }
#aboutdivc { order: 5; }
#aboutdivd { order: 6; }

.aboutdivs{
    flex-basis: 100%;
    overflow: hidden; /* [1.2] Hide the overflowing of child elements */
}
.aboutdiv:hoover img{
    transform: scale(1.4);
    filter:opacity(0.4);
}
.datesdiv{
  display:flex;
  flex-direction: column;
  height: 100%;
  width:100%;

}
.card{
  height: auto;
  width:100%;
  margin-top:2%;
}
#ServTitle{
  text-align: center;
  font-size: 5vw;
  margin-top:3%;
  color:#0c2461;
}
.servhead{
  text-align: center;
  font-size: 4vw;
  margin-top:1%;
  color:#0c2461;
}
.datesinfo{
  text-align: center;
  font-size: 2.5vw;
  margin-top:1%;
  color: black;
  flex-direction: column;
  width: 30%;
  margin-left: 35%;
  height: auto;
}
.info{
  width: 100%;
  height: auto;
}
.contactline{
  background-color:#0c2461 ;
  width:100%;
  height:12%;
  display: flex;
  flex-direction: column;



}
.contactlinetext{
  font-size: 3vw;
  text-align: center;
  color:#ffffff;
  padding-bottom: 2%;
  padding-top: 3%;
  margin-left: 0.3%;
  margin-bottom: 3%;
}
.clink{
  text-align:center;
position: relative;
padding-top: 10%;
margin-right:40%;


}
.contactlinebutton{


  font-size: 2.5vw;
  padding-top: 1%;
width:30%;
height:100%;
  text-align: center;


  border-radius: 4px;
background-color: #ffffff;
border: none;
color: #0c2461;

}
.servheader{
  margin-top:5%;
  text-align: center;
  font-size:3.3vw;
  margin-bottom: 5%;
  color:#434a4d;
}
.servicetext{
  text-align: center;
  font-size: 2vw;
  margin-left:5%;
  margin-right:10%;
  color:#434a4d;
}

.datesimg{
  margin-left: 30%;
  margin-top: 5%;
  width:40%;
  height:auto;
}

.datesdiv{

  height: 100%;
  width:100%;
  margin-bottom: 10%;
}
}
