<div class="border">
    <div class="onehalf">
      <div class="inline">
        <h1 class="iconText">Счетоводни услуги</h1>
      </div>
    </div>
  </div>
  
  <h1 id="ServTitle">Видове услуги, които предлагаме</h1>
  <div class="miniaboutus">
    <div class="aboutdivs hide-on-init animated-delay-1" animateOnScroll animationName="animated fadeInLeft">
      <img class="aboutpic" src=".\assets\service2.jpg">
    </div>
    <div class="aboutdivs hide-on-init animated-delay-1" animateOnScroll animationName="animated fadeInRight">
      <h1 class="aboutheader"> Услуга 1</h1>
      <p class="abouttext">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
        minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,
        sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit,
        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
        minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat.</p>
    </div>
  </div>
  
  <div class="miniaboutus">
    <div class="aboutdivs hide-on-init animated-delay-1" animateOnScroll animationName="animated fadeInLeft">
      <h1 class="aboutheader">Услуга 2</h1>
      <p class="abouttext">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
        minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,
        sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit,
        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
        minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat.</p>
    </div>
    <div class="aboutdivs hide-on-init animated-delay-1" animateOnScroll animationName="animated fadeInLeft">
      <img class="aboutpic" src=".\assets\service1.jpg">
    </div>
  </div>
  
  <div class="contactline ">
    <p class="contactlinetext">Lorem ipsum dolor sit amet consectetur ipsum dolor sit amet consectetur ipsum</p>
    <a class="link" routerLink="/contact" routerLinkActive="active"><button class="contactlinebutton">Контакт</button></a>
  </div>
  
  <div class="calculator">
    <div class="aboutdivs hide-on-init animated-delay-1" animateOnScroll animationName="animated fadeInRight">
      <h1 class="calculatorheader">Изчисление на данъци</h1>
      <p class="abouttext">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
        minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,
        sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit,
        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
        minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat.</p>
    </div>
    <div class="aboutdivs last hide-on-init animated-delay-1" animateOnScroll animationName="animated fadeInRight">
            <form class="example-form">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Favorite food" value="Sushi">
                    </mat-form-field>
                  
                    <mat-form-field class="example-full-width">
                      <textarea matInput placeholder="Leave a comment"></textarea>
                    </mat-form-field>
                  </form>

    </div>
  </div>
  
  