<div class="border">
  <div class="onehalf">
    <div class="inline">
      <h1 class="headerText">Услуги</h1>
    </div>
  </div>
</div>
  <h1 id="ServTitle" class="hide-on-init animated-delay-1" animateOnScroll animationName="animated fadeInLeft">Видове
  услуги, които предлагаме</h1>
    <div class="concreteservice" #purvi id="purvi">
      <div class="aboutdivs hide-on-init animated-delay-1" id="aboutdiva"  animateOnScroll animationName="animated fadeInLeft">
        <img class="servpic" src=".\assets\service2.jpg">
      </div>
      <div class="aboutdivs hide-on-init animated-delay-1" id="aboutdivb" animateOnScroll animationName="animated fadeInRight">
        <h1 class="servheader"> Счетоводни услуги</h1>
        <p class="servicetext">Месечно осчетоводяване на документация и информация, съгласно приложимите Национални и Международни счетоводни стандарти
          Организиране отчитане на корпоративни данъци и ДДС
          Комуникация и представителство пред данъчната администрация, включително по време на данъчни ревизии и насрещни проверки, и съдействие при изготвянето и подаването на декларации и други изисквани отчетни форми от данъчната администрация годишно счетоводно приключване и изготвяне на годишен финансов отчет и данъчна декларация
          </p>
      </div>
    </div>

    <div class="concreteservice" >
      <div class="aboutdivs hide-on-init animated-delay-1" #vtori id="vtori" animateOnScroll animationName="animated fadeInLeft">
        <h1 class="servheader">Данъчни услуги</h1>
        <p class="servicetext">Данъчно-ефективни решения на специфични бизнес казуси в областта на счетоводното и данъчно законодателство
          консултации във връзка с ДДС ефекти, корпоративно и лично подоходно облагане, еднократни данъци и всички други преки и непреки данъци, сделки между свързани лица
          консултации във връзка с местни данъци и такси, данъци върху недвижимо имущество
          консултации във връзка с прилагане на Спогодби за избягване на двойно данъчно облагане и изготвяне на документи за прилагането им
          </p>
      </div>
      <div class="aboutdivs hide-on-init animated-delay-1" animateOnScroll animationName="animated fadeInLeft">
        <img class="servpic" src=".\assets\service1.jpg">
      </div>
    </div>

    <div class="concreteservice" #treti id="treti">
      <div class="aboutdivs hide-on-init animated-delay-1" id="aboutdivd" #treti animateOnScroll animationName="animated fadeInLeft">
        <img class="servpic" src=".\assets\service3.jpg">
      </div>
      <div class="aboutdivs hide-on-init animated-delay-1" id="aboutdivc" animateOnScroll animationName="animated fadeInRight">
        <h1 class="servheader"> Администриране на възнаграждения</h1>
        <p class="servicetext">Управлението на всички дейности, свързани с обработка на заплатите на служителите ви
           от първоначалните справки за отчитане на положения
          труд до окончателно заплащане на възнагражденията, включително официална комуникация с данъчната
          администрация за подаване на всички задължителни отчети, справки и декларации
          анализ на трудовите разходи ,изготвяне и поддържане на всички необхoдими според българското законодателство административни документи, свързани с назначаване на служителите,
          прекратяване и промени на трудови правоотношения
          консултации по всички трудово-правни и административни въпроси, свързани със служителите на организацията,
          включително и съдействие при взаимоотношения с представители на държавни служби и агенции.
          </p>
      </div>
    </div>


    <div class = "contactline hide-on-init animated-delay-1"  animateOnScroll  animationName="animated fadeInLeft">
      <p class="contactlinetext">Ако имате нужда от нашите услуги, свържете се с нас сега</p>
      <div class="cbutton"><button class="contactlinebutton" routerLink="/contact">Контакт</button></div>
    </div>
    <div class="neww">
        <h1 id="ServTitle" class="hide-on-init animated-delay-1" animateOnScroll animationName="animated fadeInLeft">Важни дати</h1>
    <div class="ServicesHome hide-on-init animated-delay-1" animateOnScroll animationName="animated fadeInRight">


        <div class="datesdiv"></div>
          <div class="card">
            <img src=".\assets\cal14.png" alt="Avatar" class="datesimg" >
            <h1 class="servhead">Всеки месец </h1>
              <div class="info">
                <p class="datesinfo">Подаване на справка-декларация по ЗДДС, ведно с отчетни регистри и внасяне на дължимия ДДС за данъчния период
                </p>
              </div>
          </div>
          <div class="card">
            <img src=".\assets\cal31.jpg" alt="Avatar" class="datesimg" >
            <h1 class="servhead">Март месец</h1>
              <div class="info">
                <p class="datesinfo">Подаване на годишна данъчна декларация и внасяне на дължимия годишен корпоративен данък за предходната година.
                </p>
               </div>
          </div>
          <div class="card" id="ni">
            <img src=".\assets\cal25.jpg" alt="Avatar" class="datesimg" >
            <h1 class="servhead">Всеки месец </h1>
              <div class="info">
                <p class="datesinfo">Подаване на декларации и  Внасяне на осигурителните вноски за ДОО и ДЗПО от Кодекса за социално осигуряване.
                </p>
              </div>
            </div>
          </div>



