<div class="container " id="con"  >
    <div id="myCarousel" class="carousel" data-ride="carousel">
      <div class="carousel-inner">
        <div class="item active">
                <video  class="video-fluid" height="600" autoplay loop [muted]="true">
                        <source src="./assets/welcome1.mp4" type="video/mp4" />
                      </video>
          <div class="carousel-caption">
            <h1>Заглавие 1</h1>
            <h3>Малък текст 1</h3>
          </div>
        </div>

        <div class="item">
                <video  autoplay loop [muted]="true">
                        <source src="./assets/vidtwo.mp4" type="video/mp4" />
                      </video>
          <div class="carousel-caption">
            <h1>Заглавие 2</h1>
            <h3>Малък текст 2</h3>
          </div>
        </div>

        <div class="item">
           <video id="toobright" class="video-fluid" autoplay loop [muted]="true">
                      <source src="./assets/vidthree.mp4" type="video/mp4" />
            </video>
          <div class="carousel-caption">
            <h1>Заглавие 3</h1>
            <h3>Малък текст 3</h3>
          </div>
        </div>

      </div>
      <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>



  <div class="underCar">
    <div class = "onethird Fline">
        <div class="inline">
        <fa-icon [icon]="faBook"></fa-icon>
        <p class="iconText">Доверете счетоводството си на нас</p>
        </div>
    </div>
    <div class = "onethird SLine">
      <div class="inline">
        <fa-icon [icon]="faPiggyBank"></fa-icon>
        <p class="iconText">Счетоводно обслужване на атрактивни цени</p>
      </div>

    </div>
    <div class = "onethird TLine">
        <div class="inline">
        <fa-icon [icon]="faCommentDollar"></fa-icon>
        <p class="iconText">Ние се грижим всичко да е в срок</p>
      </div>
    </div>

  </div>


  <div class="ServicesHome hide-on-init animated-delay-1" animateOnScroll animationName="animated fadeInRight">
    <h1 id="ServTitle">Услуги</h1>
  <div class="miniservices">
      <div class = "card">
          <div class="flip-card">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                  <h1 class="servhead">Счетоводни услуги</h1>
                  <p class="ndis"style="color: white;">asdsad</p>
                <img src=".\assets\servone.jpg" alt="Avatar"  class="servimg" style="width:98%;;height:auto;">
              </div>
              <div class="flip-card-back">
                <h1 class="servhead">Счетоводни услуги</h1>
                <p  class="ndis"style="color: white;">asdsad</p>
                <p class = "servtext">Lorem ipsum dolor sit amet consectetur ipsum dolor sit amet consectetur ipsum dolor sit amet consectetur</p>
                <p class = "servtext">Lorem ipsum dolor sit amet consectetur ipsum dolor sit amet consectetur ipsum dolor sit amet consectetur</p>
                <a class = "link" routerLink="/services" [fragment]="'purvi'">Научете повече</a>
              </div>
            </div>
          </div>
      </div>

      <div class = "card" >
          <div class="flip-card">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                  <h1 class="servhead">Данъчни услуги</h1>
                  <p  class="ndis"style="color: white;">asdsad</p>
                <img src=".\assets\servtwo.jpg" alt="Avatar" class="servimg" style="width:98%;;height:auto;">
              </div>
              <div class="flip-card-back">
                <h1 class="servhead">Данъчни услуги</h1>
                <p  class="ndis"style="color: white;">asdsad</p>
                <p class = "servtext">Lorem ipsum dolor sit amet consectetur ipsum dolor sit amet consectetur ipsum dolor sit amet consectetur</p>
                <p class = "servtext">Lorem ipsum dolor sit amet consectetur ipsum dolor sit amet consectetur ipsum dolor sit amet consectetur</p>
                <p><a routerLink="/services" [fragment]="'vtori'" routerLinkActive="active">Научете повече</a></p>
              </div>
            </div>
          </div>
      </div>

      <div class = "card">
          <div class="flip-card">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                  <h1 class="servhead">Администриране на възнаграждения</h1>
                <img src=".\assets\servthree.jpg" alt="Avatar" class="servimg" style="width:98%;;height:auto;">
              </div>
              <div class="flip-card-back">
                <h1 class="servhead">Администриране на възнаграждения</h1>
                <p class = "servtext">Lorem ipsum dolor sit amet consectetur ipsum dolor sit amet consectetur ipsum dolor sit amet consectetur</p>
                <p class = "servtext">Lorem ipsum dolor sit amet consectetur ipsum dolor sit amet consectetur ipsum dolor sit amet consectetur</p>
                <a class = "link" routerLink="/services" [fragment]="'treti'">Научете повече</a>
              </div>
            </div>
          </div>
      </div>
  </div>
</div>



<div class = "contactline hide-on-init animated-delay-1"  animateOnScroll  animationName="animated fadeInLeft">
  <p class="contactlinetext">Ако имате нужда от нашите услуги, свържете се с нас сега</p>
  <div class="cbutton"><button class="contactlinebutton" routerLink="/contact">Контакт</button></div>
</div>





<div class="miniaboutus" >
  <div class="aboutdivs hide-on-init animated-delay-1" id="first"  animateOnScroll animationName="animated fadeInUp">
    <img class = "aboutpic" src=".\assets\miniaboutphoto.jpg">
  </div>
  <div class="aboutdivs hide-on-init animated-delay-1" id="second" animateOnScroll animationName="animated fadeInDown">
    <h1 class = "aboutheader"> За Нас</h1>
    <p class = "abouttext">Счетоводните ни услуги осигуряват всичко, от което фирмата Ви се нуждае за да работи в
        съответствие с данъчното и осигурителното законодателство. При сключване на договор за
        счетоводно обслужване ще се съобразим с конкретните нужди на фирмата Ви - като размер на
        документооборота, специфични особености на бизнеса Ви и други.
        Можете да ползвате и поотделно всяка от посочените услуги - например да поверите на нас
        само годишното приключване, или пък грижата относно трудовите договори и осигуровките.
        Независимо от степента на важност на счетоводните процеси за бизнеса ви, ще ви предоставим
        услуги, които напълно отговарят на нуждите на организацията ви и ще ви позволи да
        използвате счетоводната информация за правилно управление на вашия бизнес.
        Ще ви помогнем при тълкуването на българското данъчно законодателство и приложимите
        международни спогодби и европейски директиви при взаимоотношенията ви с данъчната
        администрация в България с цел минимизиране на данъчните рискове за бизнеса ви</p>

  </div>
</div>
