/*NAVBAR*/
mat-toolbar{
    width:100%;
    height:auto;
    background-color: #ffffff;
    position: sticky;
    position: -webkit-sticky; /* For macOS/iOS Safari */
    top: 0;
    left:0; /* Sets the sticky toolbar to be on top */
    z-index: 1000; /* Ensure that your app's content doesn't overlap the toolbar */
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  .sticky + .content {
    padding-top:60%;
  }
  #logoimg{
    width:60%;
    padding-left:3%;
  }
.logo{
    width:25%;
    margin-top:1%;
    margin-bottom: 1%;
    text-decoration: none;
    font-size: 1.5vw;
    color:#0c2461;
}
.link{
    margin-right:2%;
    color:#0c2461;
    font-size: 1.4vw;
    text-decoration: none;
}

.spacer{
    flex:1 1 auto;
}
.sdisplay{
  display: none;
}
label{
  float: right;
  display:none;
}
#toggle{
  display:none;
}
.logo1{
  display: none;
}



/*FOOTER*/
#facebook{
    width:9%;
}
.footer{
    width: 100%;
    background-color:#0c2461;
    display: inline-table;
    padding: 0;
    margin: 0;
}
#afacebook{
  padding-left: 0;
  margin-left: 0;
}
.footerfirstsection{
 width: 100%;
 display: flex;
 flex-direction: row;
 padding-left: 5%;
 padding-right: 5%;
 padding-top: 2.5%;
}
.botsections{
  width: 25%;
  padding-left: 5%;
  }
p{
    color:#ffffff;
    font-size:1vw;
    text-align: left;

}
.menu{
    color:#ffffff;
    font-size:1vw;
    text-decoration: none;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
.footericons{
  font-size: 25px;
  padding-right: 2%;
}
h3{
    color:#ffffff;
    font-size: 1.3vw;
    padding-bottom: 8%;

}
#verticalline{
  font-weight: 1000;
  padding-right: 4%;
}
.totalbottom{
    width:100%;
    text-align: center;
    background-color: #071331;
    left: 0;
    bottom: 0;
    padding: 0;
    margin: 0;
}
.supersmall{
    font-size: 0.9vw;
    text-align: center;
}
.company{
    margin-top:3%;
}
.Ours{
  padding: 0;
  margin: 0;
  margin-top: -1%;
}
.fbheader{
    margin-bottom:1%;
    margin-left:35%;
}
.ymdlink{
    text-decoration: none;
    color:white;
}
.horl{
  display: none;
}
.lqlq{
  display: none;
}

@media  (max-width: 376px){
  /*header*/
  label{
    margin-top:-7%;
    margin-right: 2%;
    display:block;

    margin-bottom: -5%;
  }
  #logoimg{
    width:120%;
    padding-bottom:8%;
    padding-left:8%;
  }
  #toggle{
    margin-top: -14%;
    display:block;
    text-align: center;
    margin-bottom: -5%;

  }

mat-toolbar{
  display: flex;
  flex-direction: column;
  display: none;
}
.logo{
  display: none;
}
.logo1{
  display:block;
  width:25%;
  margin-top:3%;
  margin-bottom: -5%;
}
.link{
  color:#0c2461;
  font-size: 3vw;
  text-decoration: none;
  cursor: pointer;
}
  #toggle:checked + mat-toolbar{
    display: inline-flex;
  }


  /*footer*/
#facebook{
    width:44%;
}
.footericons{
  font-size: 25px;
  padding-right: 2%;
}
.footer{
    width: 100%;
    background-color:#0c2461;
}
.footerfirstsection{
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 2.5%;
  padding-bottom: 10%;
 }
.botsections{
  margin-top:0%;
}
p{
    color:#ffffff;
    font-size:4vw;
}
.menu{
    color:#ffffff;
    font-size:4vw;
    text-decoration: none;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
h3{
    color:#ffffff;
    font-size: 7vw;
    padding-bottom: 30%;
    padding-top: 20%;
}
#verticalline{
  padding-right: 30%;
}
.supersmall{
    font-size: 3.6vw;
}
.company{
    margin-top:3%;
}
.Ours{
    margin-top:-3%;
}
.fbheader{
    margin-bottom:1%;

}
.ymdlink{
    text-decoration: none;
    color:white;
}

}
@media  (min-width: 376px) and (max-width: 600px){
  label{
    margin-top:-6%;
    margin-right: 2%;
    display:block;

    margin-bottom: -5%;
  }
  #logoimg{
    width:120%;
    padding-bottom:8%;
    padding-left:8%;
  }
  #toggle{
    margin-top: -14%;
    display:block;
    text-align: center;
    margin-bottom: -5%;

  }

mat-toolbar{
  display: flex;
  flex-direction: column;
  display: none;
}
.logo{
  display: none;
}
.logo1{
  display:block;
  width:25%;
    margin-top:3%;
    margin-bottom: -5%;
}
.link{

  color:#0c2461;
  font-size: 4vw;
  text-decoration: none;
  cursor: pointer;
}
  #toggle:checked + mat-toolbar{
    display: inline-flex;
  }
  /*footer*/
  #facebook{
    width:50%;

}
.footer{
    width: 100%;
    background-color:#0c2461;
}
.footerfirstsection{
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 2.5%;
  padding-bottom: 10%;
 }
.botsections{
  margin-top:0%;
}
p{
    color:#ffffff;
    font-size:4.4vw;
}
.menu{
    color:#ffffff;
    font-size:4.4vw;
    text-decoration: none;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
h3{
    color:#ffffff;
    font-size: 7vw;
    padding-bottom: 30%;
    padding-top: 20%;
}
#verticalline{
  padding-right: 30%;
}
.supersmall{
    font-size: 3.6vw;
}
.company{
    margin-top:3%;
}
.Ours{
    margin-top:-3%;
}
.fbheader{
    margin-bottom:1%;

}
.ymdlink{
    text-decoration: none;
    color:white;
}
}
@media  (min-width: 600px) and (max-width: 1023px){
  label{
    margin-top:-9%;
    margin-right: 5%;
    display:block;

    margin-bottom: -5%;
  }
  .mat-icon{
    font-size: 6vw;
  }
  #logoimg{
    width:120%;
    padding-bottom:25%;
    padding-left:8%;
  }
  #toggle{
    margin-top: -5%;
    display:block;

    text-align: center;
    margin-bottom: -5%;

  }

mat-toolbar{
  display: flex;
  flex-direction: column;
  display: none;
}
.logo{
  display: none;
}
.logo1{
  display:block;
  width:25%;
    margin-top:3%;
    margin-bottom: -5%;
}
.link{

  color:#434a4d;
  font-size: 4vw;
  text-decoration: none;
  cursor: pointer;
  margin-top:2%;
  color:#0c2461;
}
  #toggle:checked + mat-toolbar{
    display: inline-flex;
  }

  /*footer*/
  #facebook{
    width:44%;

}
.footer{
    width: 100%;
    background-color:#0c2461;
}
.footerfirstsection{
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 2.5%;
  padding-bottom: 5%;
 }
.botsections{
  margin-top:0%;
}
p{
    color:#ffffff;
    font-size:4vw;
}
.menu{
    color:#ffffff;
    font-size:4vw;
    text-decoration: none;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
h3{
    color:#ffffff;
    font-size: 7vw;
    padding-bottom: 40%;
    padding-top: 30%;
}
#verticalline{
  padding-right: 30%;
}
.supersmall{
    font-size: 3.6vw;
}
.company{
    padding-top:4%;
}
.Ours{
    margin-top:1%;
    padding-bottom: 3%;
}
.fbheader{
    margin-bottom:1%;

}
.ymdlink{
    text-decoration: none;
    color:white;
}
.footericons{
  font-size: 50px;
  padding-right: 8%;
}
}
@media  (min-width: 1023px) and (max-width: 1250px){
  label{
    margin-top:-10%;
    margin-right: 5%;
    display:block;

    margin-bottom: -5%;
  }
  .mat-icon{
    font-size: 6vw;
  }
  #logoimg{
    width:120%;
    padding-bottom:25%;
    padding-left:8%;
  }
  #toggle{
    margin-top: -5%;
    display:block;

    text-align: center;
    margin-bottom: -5%;

  }

mat-toolbar{
  display: flex;
  flex-direction: column;
  display: none;
}
.logo{
  display: none;
}
.logo1{
  display:block;
  width:25%;
    margin-top:3%;
    margin-bottom: -5%;
}
.link{

  color:#434a4d;
  font-size: 4vw;
  text-decoration: none;
  cursor: pointer;
  margin-top:2%;
  margin-bottom:2%;
  color:#0c2461;
}
  #toggle:checked + mat-toolbar{
    display: inline-flex;
  }

  /*footer*/
  #facebook{
    width:44%;

}
.footer{
    width: 100%;
    background-color:#0c2461;
}
.footerfirstsection{
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 2.5%;
  padding-bottom: 5%;
 }
.botsections{
  margin-top:0%;
}
p{
    color:#ffffff;
    font-size:4vw;
    padding-bottom: 10%;
}
.menu{
    color:#ffffff;
    font-size:4vw;
    text-decoration: none;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
h3{
    color:#ffffff;
    font-size: 7vw;
    padding-bottom: 40%;
    padding-top: 40%;
}
#verticalline{
  padding-right: 30%;
}
.supersmall{
    font-size: 3.6vw;
}
.company{
    padding-top:4%;
    padding-bottom: 0;
}
.Ours{
    padding-top: 4%;
    padding-bottom: 3%;
}
.fbheader{
    margin-bottom:1%;

}
.ymdlink{
    text-decoration: none;
    color:white;
}
.footericons{
  font-size: 80px;
  padding-right: 12%;
}
}
