
<script>
    window.onscroll = function() {myFunction()};

    var navbar = document.getElementById("navbar");
    var sticky = navbar.offsetTop;

    function myFunction() {
      if (window.pageYOffset >= sticky) {
        navbar.classList.add("sticky")
      } else {
        navbar.classList.remove("sticky");
      }
    }
</script>

<a class = "link" routerLink="/home" routerLinkActive="active" class = "logo1"><img id="logoimg" src="assets/logo.png"></a>
<label  for="toggle">
    <mat-icon>menu</mat-icon>
  </label>
  <input type="checkbox" class="hidden" id="toggle">

<mat-toolbar  id="navbar">
  <a class = "link" routerLink="/home" routerLinkActive="active" class = "logo"><img id="logoimg" src="assets/logo.png"></a>
  <span class="spacer"></span>

  <a class = "link " routerLink="/home" routerLinkActive="active">НАЧАЛО</a>
  <a class = "link " routerLink="/services" routerLinkActive="active">УСЛУГИ</a>
  <a class = "link " routerLink="/aboutus" routerLinkActive="active">ЗА НАС</a>
  <a class = "link  " routerLink="/contact" routerLinkActive="active">КОНТАКТ</a>


</mat-toolbar>












<router-outlet></router-outlet>
<div>
<mat-toolbar class = "footer">
  <div class="footerfirstsection">
  <div class = "botsections" id="first">

    <h3>
      <span id="verticalline">|</span>
      <span>Услуги</span>
    </h3>
    <ul>
      <li>
          <p><a class = "menu" [routerLink]="['services']" [fragment]="'purvi'">Счетоводни услуги</a></p>
      </li>
      <li>
          <p><a class = "menu" [routerLink]="['services']" [fragment]="'vtori'" >Данъчни Услуги</a></p>
      </li>
      <li>
          <p><a class = "menu" [routerLink]="['services']" [fragment]="'treti'">Администриране на възнаграждения</a></p>
      </li>
    </ul>
  </div>

  <div class = "botsections" id="second">
        <h3>
          <span id="verticalline">|</span>
          <span>Контакт</span>
        </h3>
    <ul>
      <li>
        <p><fa-icon class="footericons" [icon]="faMapMarkedAlt"></fa-icon>   гр. София </p>

      </li>
      <li>
          <p><fa-icon class="footericons" [icon]="faPhoneSquare"></fa-icon>  <a style="text-decoration: none; color: white;"href="tel:+359899844940">  0899844940</a> </p>
      </li>
      <li>
          <p><fa-icon class="footericons" [icon]="faEnvelopeOpenText"></fa-icon>   k.p.i.consult@abv.bg</p>
      </li>
    </ul>
  </div>


  <div class = "botsections" id="third">
    <h3>
      <span id="verticalline">|</span>
      <span>Полезни страници</span>
    </h3>
<ul>
  <li>
    <p><a class = "menu" href="https://nap.bg/" target="_blank">НАП</a></p>
  </li>
  <li>
    <p><a class = "menu" href="http://www.brra.bg/"target="_blank" >Търговски регистър</a></p>
  </li>
  <li>
    <p><a class = "menu" href="https://www.nssi.bg/aboutbg" target="_blank">НОИ</a></p>
  </li>
</ul>
</div>
  <div class = "botsections" >
    <h3>
      <span id="verticalline">|</span>
      <span>Последвайте ни</span>
    </h3>
      <a id="afacebook"href="https://www.facebook.com/"><img src = ".\assets\faceboo1k.png" id="facebook" ></a>

  </div>

</div>
  <div class = "totalbottom" >
      <p class="supersmall company">Кей Пи Ай Консулт ЕООД 2020</p>
      <p  class="supersmall Ours"><a class = "ymdlink" href="">Уебсайтове & Мобилни Aпликации от YMD Solutions</a></p>
  </div>
</mat-toolbar>
<div>
  </div>
</div>
