/*NAVBAR*/
mat-toolbar{
    width:100%;
    height:auto;
    background-color: #ffffff;
    position: sticky;
    position: -webkit-sticky; /* For macOS/iOS Safari */
    top: 0; /* Sets the sticky toolbar to be on top */
    z-index: 1000; /* Ensure that your app's content doesn't overlap the toolbar */
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  .sticky + .content {
    padding-top:60%;
  }
.logo{
    width:25%;
    margin-top:1%;
}
.link{
    margin-right:2%;
    color:#434a4d;
    font-size: 1.3vw;
    text-decoration: none;
}
.spacer{
    flex:1 1 auto;
}




/*FOOTER*/
#facebook{
    width:4%;
    margin-left:35%;
}
.footer{

    width: 100%;
    background-color:#0c2461;
    display: inline-table;
    
}
.botsections{
    display: inline-block;
    margin-left:5%;
    margin-top:2%;
}
p{
    color:#ffffff;
    font-size:0.8vw;
}
.menu{
    color:#ffffff;
    font-size:0.8vw;
    text-decoration: none;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
.third{
    width:50%;
    text-align: center;
    height:auto;
    position: absolute;
    

}
h3{
    color:#ffffff;
    font-size: 1.1vw;
}
.totalbottom{
    width:100%;
    text-align: center;
}
.supersmall{
    font-size: 0.7vw;
}
.company{
    margin-top:3%;
}
.Ours{
    margin-top:-1%;
}
.fbheader{
    margin-bottom:1%;
    margin-left:35%;
}
.ymdlink{
    text-decoration: none;
    color:white;
}









