/*NAVBAR*/
mat-toolbar{
    width:100%;
    height:auto;
    background-color: #ffffff;
    position: sticky;
    position: -webkit-sticky; /* For macOS/iOS Safari */
    top: 0; /* Sets the sticky toolbar to be on top */
    z-index: 1000; /* Ensure that your app's content doesn't overlap the toolbar */
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  .sticky + .content {
    padding-top:60%;
  }
.logo{
    width:25%;
    margin-top:1%;
}
.link{
    margin-right:2%;
    color:#434a4d;
    font-size: 1.3vw;
    text-decoration: none;
}

.spacer{
    flex:1 1 auto;
}
.sdisplay{
  display: none;
}
label{
  float: right;
  display:none;
}
#toggle{
  display:none;
}
.logo1{
  display: none;
}



/*FOOTER*/
#facebook{
    width:9%;
    margin-left:35%;
}
.footer{

    width: 100%;
    background-color:#0c2461;
    display: inline-table;

}
.botsections{
    display: inline-block;
    margin-left:5%;
    margin-top:2%;


  }
  .first{
    margin-left: 1%;
  }
p{
    color:#ffffff;
    font-size:0.8vw;
}
.menu{
    color:#ffffff;
    font-size:0.8vw;
    text-decoration: none;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
.third{
    width:20%;
    text-align: center;
    height:auto;
    position: absolute;
    margin-left:30%;


}
h3{
    color:#ffffff;
    font-size: 1.1vw;
}
.totalbottom{
    width:100%;
    text-align: center;
}
.supersmall{
    font-size: 0.7vw;
}
.company{
    margin-top:3%;
}
.Ours{
    margin-top:-1%;
}
.fbheader{
    margin-bottom:1%;
    margin-left:35%;
}
.ymdlink{
    text-decoration: none;
    color:white;
}
.horl{
  display: none;
}
.lqlq{
  display: none;
}
@media  (max-width: 376px){
  label{
    margin-top:-3%;
    margin-right: 2%;
    display:block;
    margin-bottom: -5%;
  }
  #toggle{
    margin-top: -14%;
    display:block;
    text-align: center;
    margin-bottom: -5%;

  }

mat-toolbar{
  display: flex;
  flex-direction: column;
  display: none;
}
.logo{
  display: none;
}
.logo1{
  display:block;
  width:25%;
    margin-top:3%;
    margin-bottom: -5%;
}
.link{

  color:#434a4d;
  font-size: 3vw;
  text-decoration: none;
  cursor: pointer;
}
  #toggle:checked + mat-toolbar{
    display: inline-flex;
  }

  #facebook{
    width:6%;
    text-align: center;
    margin-left:35%;

}
.footer{

    width: 100%;
    background-color:#0c2461;
    display: flex;
    flex-direction: column;

}
.botsections{
  margin-top:0%;
}

  .first{
    text-align: center;

}

p{
    color:#ffffff;
    font-size:3vw;
}

.menu{
    color:#ffffff;
    font-size:3vw;
    text-decoration: none;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.third{
text-align: center;
display:none;
}

h3{
    color:#ffffff;
    font-size: 4vw;
}

.totalbottom{
    width:100%;
    text-align: center;
}

.supersmall{
    font-size: 2.5vw;
}

.company{
    margin-top:3%;
}

.Ours{
    margin-top:-1%;
}

.fbheader{
    margin-bottom:1%;

}

.ymdlink{
    text-decoration: none;
    color:white;
}

#second{
  text-align: center;
  margin-top:-20%;
  margin-left: 0%;
}

#third{
  text-align: center;
  margin-left: -1%;
}

#fifth{
  text-align: center;
  margin-left: -55%;
}
#second { order: 1; }
#first{ order: 2;}
#third{ order:3;}
#fourth{ order: 5;}
#fifth{ order: 4;}

.horl{
  display: block;
}
hr {
  border-top: 1px solid red;
}
.lqlq{
  display: block;
}
}







