<div  class="container ">
    <div class="header">
        <h1 class="headerText">
            За Нас
        </h1>
    </div>
    <div class="firstContent hide-on-init animated-delay-1" animateOnScroll  animationName="animated fadeInUp">
        <h2 class="firstContentHeader">
                Кей Пи Ай Консулт
        </h2>
        <p class="firstContentText">Счетоводните ни услуги осигуряват всичко, от което фирмата Ви се нуждае за да работи в съответствие с данъчното и осигурителното законодателство. При сключване на договор за счетоводно обслужване ще се съобразим с конкретните нужди на фирмата Ви - като размер на документооборота, специфични особености на бизнеса Ви и други.
          Можете да ползвате и поотделно всяка от посочените услуги - например да поверите на нас само годишното приключване, или пък грижата относно трудовите договори и осигуровките.


            </p>
    </div>
    <div class="ImageLine hide-on-init animated-delay-1" animateOnScroll  animationName="animated fadeInRight">
        <h3><img id="profpic" src=".\assets\propic.jpg"></h3>
        <p class="moto">Lorem ipsum dolor sit amet, consectetur adipiscing</p>
    </div>
    <div class="secondContent hide-on-init animated-delay-1" animateOnScroll  animationName="animated fadeInUp">
            <p class="lastText">Независимо от степента на важност на счетоводните процеси за бизнеса ви, ще ви предоставим услуги, които напълно отговарят на нуждите на организацията ви и ще ви позволи да използвате счетоводната информация за правилно управление на вашия бизнес.
              Ще ви помогнем при тълкуването на българското данъчно законодателство и приложимите международни спогодби и европейски директиви при взаимоотношенията ви с данъчната администрация в България с цел минимизиране на данъчните рискове за бизнеса ви
              </p>
    </div>
</div>
