<div  class="container ">
    <div class="header">
        <h1 class="headerText">
            За Нас
        </h1>
    </div>
    <div class="firstContent hide-on-init animated-delay-1" animateOnScroll  animationName="animated fadeInUp">
        <h2 class="firstContentHeader">
                Кей Пи Ай ЕООД
        </h2>
        <p class="firstContentText">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
             sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
              Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris 
              nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
               in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
                 doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore
                  veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim 
                  ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia 
                  consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
                   Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur,
                    adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et
                     dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum
                      exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi
                       consequatur</p>
    </div>
    <div class="ImageLine hide-on-init animated-delay-1" animateOnScroll  animationName="animated fadeInRight">
        <h3><img id="profpic" src=".\assets\propic.jpg"></h3>
        <p class="moto">Lorem ipsum dolor sit amet, consectetur adipiscing</p>
    </div>
    <div class="secondContent hide-on-init animated-delay-1" animateOnScroll  animationName="animated fadeInUp">
            <p class="lastText">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                     Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris 
                     nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
                      in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                       Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
                        doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore
                         veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim 
                         ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia 
                         consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
    </div>
</div>
